---
layout: layout.html 
---

    <div id="buttonContainer"></div>
        
    <!-- <div class="zeitachse"></div> -->
    
    <ul>
         <!-- <div class="strich"><hr></div> -->
    {% for post in collections.post %}
    
        <li class="{{ post.data.gestresst }}-gestresst eintrag einklappen" 
            data-duration="{{ post.data.duration }}" 
            style=" list-style-type: none;
                    transition: width 0.3s ease-in-out;"> 
            {{ post.data.aktivitaet }}

            <span class="masse">
                <p class="zeit">{{ post.data.duration }}</p>
                <p class="einheit"></p>
                </span>
            <span class="tooltiptext Ueberschrift">{{ post.data.aktivitaet }}</span>
            <span class="tooltiptext Beschreibung">
                <p>{{ post.data.details }}</p>
                </span>
        </li>     
        
    {% endfor %}
        <!-- <div class="strich"></div> -->
        <div class="rand"></div>
        <div class="inforaper">
            <p class="info">Einheiten in <br> minuten.sekunden </p>
            <!-- <p class="info"> ver-Zeit-bar</p> -->
        </div>
    </ul>


<!-- <div class="Gesamtinhalt">
<div id="buttonContainer"><h1>Aufgaben</h1></div>
<ul>
{% for post in collections.post %}


    <li class="{{ post.data.gestresst }}-gestresst eintrag einklappen" 
        data-duration="{{ post.data.duration }}" 
        style=" list-style-type: none;
                transition: width 0.3s ease-in-out;"> 
        {{ post.data.aktivitaet }} 
        
    </li>     
    <li class="Beschreibung_Aktivitaet"> {{ post.data.details }} </li>
    <div class="Beschreibung">{{ post.data.aktivitaet }}</div>

{% endfor %}
</ul>
<div class="strich"><hr></div>
</div> -->



<!-- <div class="Gesamtinhalt">
    <div class="Zeitstrahl">
            {% for post in collections.post %}
            <div class="Schleifeninhalt">

                
                <details>

                    <summary></summary>
                    <div class="{{ post.data.gestresst }}-gestresst eintrag" style="width: calc(100 * {{ post.data.duration }}px);"></div>
                    
                </details>

                <div class="Aktivitaet">{{ post.data.aktivitaet }}</div>
                <div class="Beschreibung_Aktivitaet">
                    <p>{{ post.data.details }}</p>
                </div>

            </div>     
                
            {% endfor %}
    </div>
</div> -->

<!-- <div class="Gesamtinhalt">
    <div class="Zeitstrahl">
            {% for post in collections.post %}
            <div class="Schleifeninhalt">

                
                <details>

                    <summary></summary>
                    <div class="{{ post.data.gestresst }}-gestresst eintrag" style="width: calc(100 * {{ post.data.duration }}px);"></div>
                    
                </details>

                <div class="Aktivitaet">{{ post.data.aktivitaet }}</div>
                <div class="Beschreibung_Aktivitaet">
                    <p>{{ post.data.details }}</p>
                </div>

            </div>     
                
            {% endfor %}
    </div>
</div>

 -->
